@import "uview-ui/theme.scss";
@import "@/style/global.scss";

/* 行为相关颜色 */
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;
$font-color-base: #606266;