.flex-column {
	display: flex;
	flex-direction: column;
}

.content {
	text-align: center;
}

.minorContent {
	width: 650upx;
	padding: 0 50upx;
}

.process {
	margin-top: 200upx;
	margin-left: 30%;
}

.logo {
	height: 200upx;
	width: 200upx;
	margin-top: 100upx;
}

.title {
	font-size: 36upx;
	color: #373737;
	font-weight: bold;
}

.infoTitle {
	font-size: 32upx;
	color: #373737;
	padding-left: 15upx;
	font-weight: bold;
}

.tip {
	font-size: 28upx;
	color: #7E7E83;
	vertical-align: text-top;
}

.bottom_aera {
	position: absolute;
	bottom: 0;
	height: 12%;
}

.line {
	padding: 0 600upx;
	border-bottom: 2upx solid #D8D8D8;
}

.infoPic {
	height: 50upx;
	width: 50upx;
}

.infoContentTitle {
	display: flex;
	align-items: center;
	padding: 40upx 40upx;
}

.infoContent {
	display: flex;
	align-items: center;
}

.updateInfo {
	font-size: 28upx;
	color: #7E7E83;
	padding: 0 80upx;
}

.smallTitle {
	font-size: 26upx;
	font-weight: 500;
	padding: 20upx 0;
	line-height: 1.5;
	color: #888;
}
